<div class="justify-content-center text-center">

    <button 
    (click)=addOperation()
    type="button" class="btn btn-outline-dark" id="addBtn">+</button>

    <button 
    (click)=subtractOperation()
    type="button" class="btn btn-outline-dark" id="minusBtn">-</button>

    <button 
    (click)=divideOperation()
    type="button" class="btn btn-outline-dark" id="divideBtn">/</button>

    <button 
    (click)=multiplyOperation()
    type="button" class="btn btn-outline-dark" id="multiplyBtn">*</button>

</div>