/* You can add global styles to this file, and also import other style files */
body {
    padding: 25px;
    background-color: white;
    color: #121212;
    transition-duration: 2s;
}
  
#addBtn, #minusBtn, #divideBtn, #multiplyBtn{  
    margin-left: 30px;
    font-size: 20px;
    width: 50px;
    height: 50px;
}

h1 {
    margin: 50px;
}